In [5]:
#Q1.Create one variable containing following type of data:

#(i) string
a="ABC"
print(type(a))

#(ii) list
b=[a,"B","C",1,2.3,4+5j]
print(type(b))

#(iii) float
c=3.14159
print(type(c))

#(iv) tuple
d=(a,b,c,"Z")
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [9]:
#Q2. Given are some following variables containing data:
#What will be the data type of the above given values

#(i) var1 = ‘ ‘
#ERROR as the apostrophes are not in correct orientation. It should be like ' ' then it will show string.

#(ii) var2 = ‘[ DS , ML , Python]’
#STRING

#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#ERROR as the apostrophes are not in correct orientation.

#(iv) var4 = 1.
#FLOAT

In [25]:
# Q3. Explain the use of the following operators using an example:
#(i) /
#  if a/b is written, where a,b are numeric then it returns the value of a divided by b in float type. like
a=7/3
print(a)
print(type(a))

#(ii) %
# It is modulo sign it returns the reminder .like
b=5%2
print(b)
#(iii) //
# It works same as "/" but just convert the answer in int data type. like
print(3//2)
#(iv) **
# If a**b is written then it returns a raise to power b. like
print(2**4)
print(2**3)

2.3333333333333335
<class 'float'>
1
1
16
8

In [33]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
a=["A", 2.00 , 2 , 2+1j , (2,4,5) , ["P","W"] , {"SKILLS"}, "AMAN","AMIT","ASHVIN"]
for i in a:
    print(type(i))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'complex'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
a=int

In [37]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

lis=[]
for i in range(25):
    lis.append(i+1)
for j in lis:
    if j%3==0:
        print(j,"is DIVISIBLE by",3)
    else:
        print(j,"is NOT DIVISIBLE by",3)

1 is NOT DIVISIBLE by 3
2 is NOT DIVISIBLE by 3
3 is DIVISIBLE by 3
4 is NOT DIVISIBLE by 3
5 is NOT DIVISIBLE by 3
6 is DIVISIBLE by 3
7 is NOT DIVISIBLE by 3
8 is NOT DIVISIBLE by 3
9 is DIVISIBLE by 3
10 is NOT DIVISIBLE by 3
11 is NOT DIVISIBLE by 3
12 is DIVISIBLE by 3
13 is NOT DIVISIBLE by 3
14 is NOT DIVISIBLE by 3
15 is DIVISIBLE by 3
16 is NOT DIVISIBLE by 3
17 is NOT DIVISIBLE by 3
18 is DIVISIBLE by 3
19 is NOT DIVISIBLE by 3
20 is NOT DIVISIBLE by 3
21 is DIVISIBLE by 3
22 is NOT DIVISIBLE by 3
23 is NOT DIVISIBLE by 3
24 is DIVISIBLE by 3
25 is NOT DIVISIBLE by 3

In [42]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
#  MUTABLE data types are one as the name suggests mutable in nature i.e, you can change there value, elements at any point of 
#  time. It is slower than IMUTABLE data type. for ex: list,dictionary

a=["A","B","C"]                #just created a list
a[0]="a"                       #change the first element of list
print(a)


#  On the other hand IMMUTABLE data type are the one again as the name suggest immutable in nature i.e, here you cann't change 
#  there value, elements. if you try to do so, an ERROR will generate. It is faster than MUTABLE data types. for example tuple,string
b="PW SKILLS"
b[-1]=" "

['a', 'B', 'C']

TypeError: 'str' object does not support item assignment